@import "colorscheme.scss";

header {
  margin: auto;
  text-align: center;
  color: $color1;
}

div#site-title {
  font-size: 2em;
}

div#page-title {
  font-family: sans;
  font-size: 1.25em;
  margin-bottom: 0.2em;
  color: $color13;
}

nav {
  margin: auto;
  font-family: sans-serif;
  font-variant: small-caps;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  background-color: $color4;
  color: $color11;
}

nav ul li a:hover {
  background-color: $color11;
  color: $color4;
}

nav ul li a.active {
  border-style: solid;
  border-width: 1px;
  border-color: $color3;
}

body {
  background: $color0;
  color: $color15;
}

article {
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 32em;
  text-align: justify;
  font-family: "Source Serif Pro", serif;
  hyphens: auto;
}

h1 {
  color: $color3;
}

h2 {
  color: $color5;
}

h3 {
  color: $color6;
}

a {
  text-decoration: none;
  color: $color14;
}

img#profile-picture {
  float: left;
  margin-right: 0.8em;
  height: 160px;
  border-width: 2px;
  border-style: solid;
  border-color: $color11;
}

blockquote {
  border-left: 4px solid $color12;
  margin: 5px;
  padding: 8px;
}
