{{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Jakub Kaczor" />
    <meta name="description" content="This is my personal website." />
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
    <title>{{ .Page.Title }}&mdash;{{ .Site.Title }}</title>
  </head>
  <body>
    <header>
      <div id="site-title">{{ .Site.Title }}</div>
      <div id="page-title">{{ .Page.Title }}</div>
      <nav>
        <ul>
          <li>
            <a
              {{ if eq .Page.Title "Homepage" }}
                class="active"
              {{ end }}
              href="/"
            >🏠 Home</a>
          </li
          ><li>
            <a
              {{ if eq .Page.Title "blog" }}
                class="active"
              {{ end }}
              href="/blog"
            >📰 Blog</a>
          </li
          ><li>
            <a
              {{ if eq .Page.Title "Contact" }}
                class="active"
              {{ end }}
              href="/contact"
            >🤙 Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <section>
      <article>{{ block "main" . }}{{ end }}</article>
    </section>
  </body>
</html>
