<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <title>{{ page.title }} &ndash; {{ site.title }}</title>
  </head>
  <body>
    <header>
      <div id="site-title">{{ site.title }}</div>
      <div id="page-title">{{ page.title }}</div>
      <nav>
        <ul>
          <li>
            <a
              {% if page.title == "Homepage" %}
                class="active"
              {% endif %}
              href="/"
            >🏠 Home</a>
          </li
          ><li>
            <a
              {% if page.collection == "posts" or page.title == "Blog"%}
                class="active"
              {% endif %}
              href="/blog"
            >📰 Blog</a>
          </li
          ><li>
            <a
              {% if page.title == "Contact" %}
                class="active"
              {% endif %}
              href="/contact"
            >🤙 Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <section>
      <article>{{ content }}</article>
    </section>
  </body>
</html>
